* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-items: center;
    justify-content: center;
  
  }
  
  .area-titulo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   
  }
  
  .area-formulario{
    display: flex;
    flex-direction: column;
  }
  
  .linha-formulario{
    display: flex;
   
  
  }
  .campo-formulario{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  input {
      width: 350px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      background-color: #ecdadb;
      border: 2px solid #ecdadb;
      border-radius: 4px;
    }
  
    
  .titulo{
    font-size: 60px;
    color: #a74f58; ;
    font-family: sans-serif;  
  }
  
  
  
  .txt-area{
    width: 720px;
    
    box-sizing: border-box;
    background-color: #ecdadb;
    border-radius: 4px;
  }
  
  .area-mensagem{
    display: flex;
    flex-direction: column ;
    align-items: center;
  
  }
  
  .insirasuimagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  
  .area-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .button{
   
    background-color: #ecdadb;
    border: 2px solid #ecdadb;
    border-radius: 4px;
    width: 15%;
    height: 20%;
  }
  
  input::placeholder{
      color: black;    
  }
  