.cards {
  display: flex;
  width: 500px;
  flex-direction: column;
  height: auto;
}

.cardsLinha {
  display: flex;
}

.cardPrincipal {
  border-radius: 3%;
  width: 500px;
  height: auto;
  padding: 5px;
}

.cardImagem {
  border-radius: 3%;
  width: 250px;
  height: auto;
  padding: 5px;

}

.card:hover {
  opacity: 30%;
}

.areaCards {
  display: flex;
  padding: 5px;
  margin-bottom: 100px;
}

.haleria_texto {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}


.areaCards {
  display: flex;
  padding: 5px;
  justify-content: center;
}

.cards {
  display: flex;
  width: 500px;
  height: auto;
  flex-direction: column;
  margin: 1%;
  padding: 2px;
}

.cardPrincipal {
  border-radius: 5%;
  width: 500px;
  height: auto;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.cardsLinha {
  display: flex;
  margin-top: 2%;
}


.imagemPrimaria {
  width: 600px;
  height: 450px;
  border-radius: 6%;
  margin: 5px;
}

.imagemSecundaria {
  width: 450px;
  height: 350px;
  border-radius: 6%;
  margin: 5px;
}

.cardImagem {
  border-radius: 3%;
  width: 250px;
  height: auto;

}