.atelie-nossa-historia-img {
    background-image: url('/public/imagens_usadas_na_pagina/image\ 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
